header{
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
}
h1{
text-align: center;
    color: aliceblue;
}
body{
    background: linear-gradient(to right, #F6EFD2, #CEAD78);
}
nav{
    width: 100%;
}

ul.nav{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}
.nav li {
    float: left;
}
ul.nav a {
    display: block;
    width: 5em;
    padding:10px;
    margin:5px;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    border: 1px dashed #333;
    text-decoration-color: aliceblue;
    color: aliceblue;
    text-align: center;
}
.tb1{
    width: 90%;
    border-collapse: collapse;
    border: 2px solid black;
}

table.tb1 td {
    border: 2px solid black;
    text-align: center;
}
table.tb1 th {
    border: 2px solid black;
}
.divr{
    text-align: center;
    font-size: medium;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

div.block1 img{
    width: 500px;
    height: 500px;
}
div.block2 img{
    width: 500px;
    height: 500px;
}
.block1 {
    width: 50%;
    float: right;
}
.block2 {
    width: 50%;
    float: left;

}